.dropdown-check-list {
  display: inline-block;
  border-radius: 5px;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: block;
  padding: 7px;
  border-radius: 2px;
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #ffffff;
}

.dropdown-check-list.visible .items {
  display: block;
}
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow {
  width: 15px;
  height: 15px;
  background-color: hsl(355, 90%, 64%);
  color: #f65261;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: 9px;
}
.open {
  clip-path: polygon(50% 25%, 0 75%, 100% 75%);
}
.closed {
  clip-path: polygon(50% 75%, 0 25%, 100% 25%);
}
.btnoptions {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-color: #fff;
  color: #f65261;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.checkmark {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-color: #f65261;
  border-radius: 3px;
  outline: none;
  border: none;
  transform: translateY(-2px);
}
.checkmark_img {
  position: relative;
  right: 3px;
}
