.searchform-container {
  display: "flex";
  justify-content: "center";
}

.searchform-container > form {
  width: 60%;
  margin-left: 20%;
  display: flex;
  justify-content: space-around;
}
.searchform-container > form > input {
  background: #323232;
  outline: none;
  border: none;
  width: 70%;
  height: 30px;
  border-radius: 3px;
  color: #ffffff;
  padding-left: 10px;
}
.searchform-container > form > button {
  background-color: #f65261;
  height: 30px;
  border-radius: 2px;
  color: #ffffff;
  outline: none;
  border: none;
  width: 25%;
}
